<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        </div>
        {{products}}
            <div>
                <li>
                    <p>Nombre del producto: {{this.title}}</p>
                    <p>Categoria: {{this.category}}</p>
                    <p>Precio: {{this.price}}</p>
                </li>
            </div>
        </div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script> src="/socket.io/socket.io.js"</script>
<script> src="/virtual/js/index.js" </script>
</body>
</html>